<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="min_value_celsius" value="0"/>
    <add key="max_value_celsius" value="55"/>
    <add key="sensor_input" value="GPU Core"/>
  </appSettings>
</configuration>